#tom {
  background: url("images/tom.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  width: 202px;
  height: 242px;
  margin-left: auto;
  margin-right: auto;
}

#main {
  background: url("images/bg.jpg");
  width: 100%;
  height: 600px;
}

#saying h1, h2 {
  text-align: center;
}

#answer {
  text-align: center;
  font-family: cursive;
  font-size: 64px;
}